*{
    margin:0;
    padding:0;
    border:none;
    outline:none;
    text-decoration:none;
    box-sizing:border-box;
}


.topnav{
    display:flex;
    position: relative;
    justify-content: space-between;
    padding-left:1.25rem;
    padding-right:1.25rem;
    height: 6.25rem;
    background-color:gray;
    /*overflow:hidden;*/
    /*font-size:20px;*/
    max-height: 6.25rem;
    align-items:center;
    flex:1;
    
}


#item1 {
    /* margin-top: 10px; */
    display:flex;
    margin-right:3.125rem;
    /*overflow: hidden;*/
    /*font-size:30px;*/
}


.nav-item{
    display:flex;
    text-decoration:none;
    color:inherit;
    cursor:pointer;
    padding:1.25rem;
    border:1px solid transparent;
    font-size:2.187rem;
    /* margin-top:12px;
    margin-left:45px; */
    transition: 0.6s;
}

.nav-item:hover{
    border:1px solid white;
    border-top-left-radius:1.25rem;
    border-bottom-right-radius:1.25rem;
    /* overflow:hidden; */
}

.search-section{
    display: flex;
    
    margin:0 auto;
    flex:0 1 auto;

    
    align-items: center;
    justify-content: center;
    flex: 1;
}


#campo-de-pesquisa{
    /* margin-left:25.5%; */
    display:flex;
    position:relative;
    border-radius:6.25rem;
    outline:none;
    border:2px solid gray;
    background-color:rgba(33,37,41,0.5);
    /* transform: translateY(-25%); */

    max-width: 300px;
    width:100%;
    /* padding-left:1rem;
    padding-right:3.2rem;
     */


    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    

    transition:0.5s;
    /* margin-left:28rem; */
    
}

#campo-de-pesquisa:hover{
    background-color:rgba(33,37,41,0.75);
}

#campo-de-pesquisa:focus{
    background-color:rgba(33,37,41,0.75);
}

#btn{
    display:flex;
    position:relative;
    background:none;
    margin:-2.7rem;
    align-items:center;
}

#btn:hover{
    cursor: pointer;
}


#icone{

    /*
    left:58.8%;
    top:4.1%;
    */
    font-size:1.5rem;
    background: none;
    /* transform: translate(-180%,-115%); */
    color: rgba(255,255,255,0.8);
}

#item3{
    display:flex;
    
}


#logoDoSite{
    position: relative;
    width:60px;
    top:1.2%;
    text-decoration:none;
    color:inherit;
    cursor:pointer;
    transition:0.6s;
}

#logoDoSite:hover{
    /*
    PADRAO{
        width:60px;
        height:70px;
    }
    */
    /*
    width:70px;
    height: 80px;
    */
    
    transform: scale(1.15);
}


#loading{
    margin-top:17%;
    margin-left:45%;
    width: 170px;
    cursor:pointer;
    animation:spin infinite 2s linear;
    /*
    display:flex;
    justify-content: center;
    align-items: center;
    */
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


#loading{
    display:none;
}

.cardsSection{
    display:flex;
    justify-content:center;
}


#card1{
    display:flex;
    justify-content:center;
}
