.topnav{
    display:block;
    position:relative;
    justify-content:flex-start;
    padding-left:20px;
    height: 90px;
    background-color:gray;
    /*overflow:hidden;*/
    font-size:20px;
    max-height: 90px;
}

.nav-item:last-child{
    float:right;
}

.nav-item{
    text-decoration:none;
    color:inherit;
    cursor:pointer;
    padding:15px;
    border:1px solid transparent;
    transition: 0.6s;
}

.nav-item:hover{
    border:1px solid;
    border-top-left-radius:20px;
    border-bottom-right-radius: 20px;
    overflow:hidden;
}


#item1 {
    display:inline-flex;
    margin-right:50px;
    /*font-size:30px;*/
}

#item2{
    display:inline-flex;
    font-size: 35px;
    margin-top:12px;
    margin-left:45px;
    
}

#item3{
    float:right;
    text-decoration:none;
    color:inherit;
    cursor:pointer;
    border:1px solid transparent;
    border-radius:20px;
    font-size:40px;
    padding:10px;
    margin-top:15px;
    margin-right:20px;
    bottom:60%;
    transition:.7s;
}

#item3:hover{
    border:1px solid;
    border-radius:30px;
}

button{
    border:none;
    background: none;
}

button:hover{
    cursor: pointer;
}



#campo-de-pesquisa{
    margin-left:25.5%;
    border-radius:20px;
    outline:none;
    border:2px solid gray;
    background-color:rgba(33,37,41,0.5);
    top:30%;
    /*
    padding-left:15px;
    padding-right:50px;
    */
    padding-left:1.05%;
    padding-right:3.5%;
    transition:1s;
}

#campo-de-pesquisa:hover{
    background-color:rgba(33,37,41,0.75);
}

#campo-de-pesquisa:focus{
    background-color:rgba(33,37,41,0.75);
}

#icone{

    /*
    left:58.8%;
    top:4.1%;
    */
    position:absolute;
    font-size:25px;
    transform: translateY(-80%);
    color: rgba(255,255,255,0.8);
}


#logoDoSite{
    position:fixed;
    width:60px;
    top:0.5%;
    text-decoration:none;
    color:inherit;
    cursor:pointer;
    transition:0.6s;
}

#logoDoSite:hover{
    width:70px;
}


#loading{
    margin-top:10%;
    margin-left:35%;
    cursor:pointer;
    animation:spin infinite 2s linear;
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


#loading{
    display:none;
}
