
.topnav{
    display:block;
    position:relative;
    justify-content:flex-start;
    padding-left:20px;
    height: 90px;
    background-color:gray;
    /*overflow:hidden;*/
    font-size:20px;
    max-height: 90px;
}

.nav-item:last-child{
    float:right;
}

.nav-item{
    text-decoration:none;
    color:inherit;
    cursor:pointer;
    padding:15px;
    border:1px solid transparent;
    transition: 0.6s;
}

.nav-item:hover{
    border:1px solid;
    border-top-left-radius:20px;
    border-bottom-right-radius: 20px;
    overflow:hidden;
}


#item1 {
    margin-top: 10px;
    display:inline-flex;
    margin-right:50px;
    /*overflow: hidden;*/
    /*font-size:30px;*/
}

#item2{
    display:inline-flex;
    font-size: 35px;
    margin-top:12px;
    margin-left:45px;
}

#item3{
    float:right;
    text-decoration:none;
    color:inherit;
    cursor:pointer;
    border:1px solid transparent;
    
 
    /* margin-top:12px; */
    margin-right:20px;
    margin-top:12px;
    transition:.7s;
    font-size:35px;
    padding-top:11px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 3px;
    border:1px trasparent solid;
}

#item3:hover{
    
    border:1px solid;
    border-top-left-radius:20px;
    border-bottom-right-radius: 20px;

}

button{
    border:none;
    background: none;
}

button:hover{
    cursor: pointer;
}



#campo-de-pesquisa{
    margin-left:25.5%;
    border-radius:20px;
    outline:none;
    border:2px solid gray;
    background-color:rgba(33,37,41,0.5);
    transform: translateY(-25%);
    /*
    padding-left:15px;
    padding-right:50px;
    */
    padding-left:1.05%;
    padding-right:3.5%;
    transition:1s;
}

#campo-de-pesquisa:hover{
    background-color:rgba(33,37,41,0.75);
}

#campo-de-pesquisa:focus{
    background-color:rgba(33,37,41,0.75);
}

#icone{

    /*
    left:58.8%;
    top:4.1%;
    */
    position:absolute;
    font-size:25px;
    transform: translate(-180%,-115%);
    color: rgba(255,255,255,0.8);
}


#logoDoSite{
    position: relative;
    width:60px;
    top:1.2%;
    text-decoration:none;
    color:inherit;
    cursor:pointer;
    transition:0.6s;
}

#logoDoSite:hover{
    /*
    PADRAO{
        width:60px;
        height:70px;
    }
    */
    /*
    width:70px;
    height: 80px;
    */
    
    transform: scale(1.15);
}


#loading{
    margin-top:17%;
    margin-left:45%;
    width: 170px;
    cursor:pointer;
    animation:spin infinite 2s linear;
    /*
    display:flex;
    justify-content: center;
    align-items: center;
    */
}

@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


#loading{
    display:none;
}

.cardsSection{
    display:flex;
    justify-content:center;
}


#card1{
    display:flex;
    justify-content:center;
}
